.header {
  display: flex;
  justify-content: center;
  width: 1280px;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 16px;
  align-items: center;
}

.searchInput {
  width: 320px;
  height: 40px;
  border-radius: 8px;
  margin: 12px;
  background-color: #2bff95;
  color: black;
  border: 3px solid transparent;
  transform: translate(0px);
  transition: border ease-in-out 150ms, background-color ease-in-out 200ms,
    transform ease-in-out 50ms, border-color ease-in-out 150ms;
  padding: 0 16px;
}

.searchInput::placeholder {
  color: rgba(0, 0, 0, 0.5);
  transition: color ease-in-out 350ms;
}

.searchInput:focus,
searchInput:active {
  outline: none;
  background-color: #e0e0e0;
}
