.galleryWrap {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: 91%;
  height: auto;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .list {
    width: calc((100% - 2 * 8px) / 3);
    min-width: 275px;
  }
}
